:root {
  --vp-c-bg: #ffffff;
  --vp-c-text: #000000;
  --vp-c-bg-alt: #f5f5f5;
}

.dark {
  --vp-c-bg: #000000;
  --vp-c-text: #ffffff;
  --vp-c-bg-alt: #121212;
}

#author {
  display: flex;
  align-items: center;
}
#author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
}
#author .author-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 1rem;
  line-height: 1.2;
}
